ul {
    list-style-type: none;
    width: 500px;
}

.btn-danger {
    height: 48px;
    border-radius: 0;
}

#main-img {
    width: 100%;
}

li {
    position: relative;
}

.active::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 4px;
    background-color: red;
    bottom: -15px;
    left: 0;
}

.about-us h1 {
    font-size: 50px;
}
.about-us h4 {
    font-weight: bold;
}

.services {
    background-color: #ECF0F1;
}